
/* ===================================================================
 * # buttons
 *
 * ------------------------------------------------------------------- */
.btn,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    display: inline-block;
    font-family: "Heebo", sans-serif;
    font-weight: 600;
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    height: 6rem;
    line-height: 5.6rem;
    padding: 0 3.2rem;
    margin: 0 0.4rem 1.6rem 0;
    color: #000000;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #d3d3d3;
    border: 0.2rem solid #d3d3d3;
}

    .btn:hover,
    button:hover,
    input[type="submit"]:hover,
    input[type="reset"]:hover,
    input[type="button"]:hover,
    .btn:focus,
    button:focus,
    input[type="submit"]:focus,
    input[type="reset"]:focus,
    input[type="button"]:focus {
        background-color: #c3c3c3;
        border-color: #c3c3c3;
        color: #000000;
        outline: 0;
    }

    /* button primary
 * ------------------------------------------------- */
    .btn.btn--primary,
    button.btn--primary,
    input[type="submit"].btn--primary,
    input[type="reset"].btn--primary,
    input[type="button"].btn--primary {
        background: #000000;
        border-color: #000000;
        color: #ffffff;
    }

        .btn.btn--primary:hover,
        button.btn--primary:hover,
        input[type="submit"].btn--primary:hover,
        input[type="reset"].btn--primary:hover,
        input[type="button"].btn--primary:hover,
        .btn.btn--primary:focus,
        button.btn--primary:focus,
        input[type="submit"].btn--primary:focus,
        input[type="reset"].btn--primary:focus,
        input[type="button"].btn--primary:focus {
            background: #33998a;
            border-color: #33998a;
        }

    /* button modifiers
 * ------------------------------------------------- */
    .btn.full-width,
    button.full-width {
        width: 100%;
        margin-right: 0;
    }

    .btn--medium,
    button.btn--medium {
        height: 6.4rem !important;
        line-height: 6rem !important;
    }

    .btn--large,
    button.btn--large {
        height: 6.8rem !important;
        line-height: 6.4rem !important;
    }

    .btn--stroke,
    button.btn--stroke {
        background: transparent !important;
        border: 0.2rem solid #000000;
        color: #000000;
    }

        .btn--stroke:hover,
        button.btn--stroke:hover {
            background: #000000 !important;
            border: 0.2rem solid #000000;
            color: #ffffff;
        }

    .btn--pill,
    button.btn--pill {
        padding-left: 3.2rem !important;
        padding-right: 3.2rem !important;
        border-radius: 1000px !important;
        letter-spacing: 0.1rem;
    }

    button::-moz-focus-inner,
    input::-moz-focus-inner {
        border: 0;
        padding: 0;
    }



.button-custom-all {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button-custom {
    background-color: white;
    color: black;
    border: 2px solid #f44336;
    margin: 0 auto;
    display: block;
}

    .button-custom:hover {
        background-color: #f44336;
        color: white;
    }
