
/* ------------------------------------------------------------------- 
 * ## Lists
 * ------------------------------------------------------------------- */
ol {
    list-style: decimal;
}

ul {
    list-style: disc;
}

li {
    display: list-item;
}

ol, ul {
    margin-left: 1.6rem;
}

    ul li {
        padding-left: 0.4rem;
    }

    ul ul,
    ul ol,
    ol ol,
    ol ul {
        margin: 0.8rem 0 0.8rem 1.6rem;
    }

    ul.disc li {
        display: list-item;
        list-style: none;
        padding: 0 0 0 0.8rem;
        position: relative;
    }

        ul.disc li::before {
            content: "";
            display: inline-block;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: #33998a;
            position: absolute;
            left: -16px;
            top: 11px;
            vertical-align: middle;
        }

dt {
    margin: 0;
    color: #33998a;
}

dd {
    margin: 0 0 0 2rem;
}

/* ------------------------------------------------------------------- 
 * ## floated image
 * ------------------------------------------------------------------- */
img.pull-right {
    margin: 1.2rem 0 0 2.8rem;
}

img.pull-left {
    margin: 1.2rem 2.8rem 0 0;
}

/* ------------------------------------------------------------------- 
 * ## tables
 * ------------------------------------------------------------------- */
table {
    border-width: 0;
    width: 100%;
    max-width: 100%;
    font-family: "IBM Plex Sans", sans-serif;
    border-collapse: collapse;
}

th,
td {
    padding: 1.5rem 3.2rem;
    text-align: left;
    border-bottom: 1px solid #e0e0e0;
}

th {
    color: #000000;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 700;
}

    th:first-child,
    td:first-child {
        padding-left: 0;
    }

    th:last-child,
    td:last-child {
        padding-right: 0;
    }

.table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

/* ------------------------------------------------------------------- 
 * ## Spacing 
 * ------------------------------------------------------------------- */
button,
.btn {
    margin-bottom: 1.6rem;
}

fieldset {
    margin-bottom: 1.6rem;
}


